html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: url('/bg.webp') no-repeat center center fixed;
    /* Background image licence available at WikiCommons: https://commons.wikimedia.org/wiki/File:Bellevue_Downtown_Park_aerial,_April_2023.png */
    background-size: cover;
    background-color: #AEBFEB;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
}


header {
    padding-top: 1em;
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    padding: 1em;
}

nav {
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #00F;
    padding: 0.1em;
}

nav a:hover {
    background-color: #00F;
    color: #fff;
}

footer {
    color: #888;
    font-size: .7em;
    line-height: 1.4em;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
}

a {
    text-decoration: none;
    color: #00F;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #00F;
    color: #fff;
}
